doctype
html(lang="zh-CN")
  head
    meta(charset="utf-8")
    title composer
    meta(name="viewport",content="width=device-width, initial-scale=1")
    link(rel="stylesheet",href="app/style/base.css")
    link(rel="stylesheet",href="app/style/font.css")
    style.
      a{
        text-decoration:none;
        color: #666;
        font-size:18px;
      }
  body

    div.logo.icon &#xe600;


    div(style="text-align:center;margin-top:80px;")
      a(href="app/html/player.html")
        span.icon &#xe603;
        |&nbsp;
        |播放模式
    div(style="text-align:center;margin-top:80px;")
      a(href="app/html/editor.html")
        span.icon &#xe604;
        |&nbsp;
        |编辑模式

    div(style="text-align:center;margin-top:80px;")
      a(href="app/html/helper.html")
        span.icon &#xe605;
        |&nbsp;
        |使用介绍


    .loading.line-scale
      div
      div
      div
      div
      div