doctype
html(lang="zh-CN")
  head
    meta(charset="utf-8")
    title composer
    meta(name="viewport",content="width=device-width, initial-scale=1")
    link(rel="stylesheet",href="../style/base.css")
    link(rel="stylesheet",href="../style/font.css")
  body

    div.logo.icon &#xe600;




    .loading.line-scale
      div
      div
      div
      div
      div

